/* Parent container*/

#main-container {
    padding-top: 50px;
}

/* Child containers*/

#donate-container {
    padding-top: 50px;
    min-height: 80vh;
    }

#login-container {
    padding-top: 50px;
    min-height: 80vh;
}

#admin-container {
    padding-top: 50px;
    min-height: 80vh;

}

#shelter-container {}

/* Navbar*/

#navImg {
    height: 70px;
}


/*Banner with Buttons*/

#ggIcon {
    width: 20%;
}

#banner {
    background: url(./../images/image1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: auto -30px auto -30px;
}

#logoSection {
    text-align: center;
    padding-top: 4%;
    color: black;
}

#logoImg {
    height: 120px;
}

#logoText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

#buttonSection {
    display: flex;
    justify-content: center;
    height: 70%;
}

#btnDiv {
    align-self: center;
}

.bannerBTN {
    background-color: #fff02a;
    color: black;
    border: 1px solid dimgrey;
    margin: 5px;
    height: 70px;
    width: 190px;
}

.bannerBTN:hover {
    background-color: #f7ef85;
    color: dimgray;
    border: 1px solid dimgrey;
}

/*About Us*/

#about-us {
    width: 90%;
    margin: auto;
}

#about-text {}

#gg-map {
    max-width: 100%;
    margin: 30px;
}

#about-us,
#contact-us {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-us {
    background-color: #eaeaea;
    margin: auto -30px auto -30px;
}

#contact-us-panel{
    padding: 7%;
}


/*Donate Section*/

#search-section input,
#search-section select,
#search-section button {
    margin: 10px;
}

#search-section b{
    font-size: 18px;
}

#people-list-section {

}

#people-list {
    padding-top: 50px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: left;
    -webkit-justify-content: left;
}

.people-block {
    margin: 20px;
    padding: 20px;
    background-color: #fff6f8;
}

#user-profile{
    margin-left: 100px;
    Margin-top: 50px;
}
#add-user{
    padding-top: 50px;
}
.footer{
    text-align: center;
    padding-top: 2%;
    background-color: black;
    color: white;
}