.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #ffffc3;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-body {
    padding: 25px;
}

.btn,
.btn-sm {
    margin-right: 2px;
}

.table>tbody>tr>td.no-border-top {
    border-top: 0 none;
}

.capitalize-name {
    text-transform: capitalize;
}

.item-table {
    overflow-x: scroll;
}


/* Parent Container*/

#main-container {
    padding-top: 50px;
}


/* Child Containers*/

#donate-container,
#login-container,
#admin-container,
#shelter-container,
#login-warning {
    padding-top: 50px;
    min-height: 85vh;
}


/* Navbar*/

#navImg {
    height: 70px;
}


/*Banner with Buttons*/

#ggIcon {
    width: 20%;
}

#banner {
    background: url(./../images/image1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    margin: auto -30px auto -30px;
}

#logoSection {
    text-align: center;
    padding-top: 4%;
    color: black;
}

#logoImg {
    height: 120px;
}

#logoText {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}

#buttonSection {
    display: flex;
    justify-content: center;
    height: 70%;
}

#btnDiv {
    align-self: center;
}

.bannerBTN {
    background-color: #fff02a;
    color: black;
    border: 1px solid dimgrey;
    margin: 5px;
    height: 70px;
    width: 190px;
}

.bannerBTN:hover {
    background-color: #f7ef85;
    color: dimgray;
    border: 1px solid dimgrey;
}


/*About Us*/

#about-us {
    width: 90%;
    margin: auto;
}

#about-text {}

#gg-map {
    max-width: 100%;
    margin: 30px;
}

#about-us,
#contact-us {
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact-us {
    background-color: #eaeaea;
    margin: auto -30px auto -30px;
}

#contact-us-panel {
    padding: 7%;
}


/*Shelter Login*/

div #login form {
    padding: 20px;
}

div #login .panel-body {
    background-color: #ebf0fb;
}

div #login .panel-default {
    border: 0px;
}


/*Donate Section*/

#search-section input,
#search-section select,
#search-section button {
    margin: 10px;
}

#search-section {
    padding-top: 10px;
}

#search-section b {
    font-size: 18px;
}

.people-list {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: left;
    -webkit-justify-content: left;
}

.people-block {
    margin: 20px;
    padding: 20px;
    background-color: #ebf0fb;
    border: 7px double white;
    border-radius: 5px;
}

#people-list-section .people-block {
    margin: 15px auto;
    padding: 20px;
    background-color: #ebf0fb;
    border: 7px double white;
    border-radius: 5px;
}

.people-bio {
    max-width: 215px;
    word-wrap: break-word;
    overflow-y: scroll;
}


/*Admin Section & Shelter Section*/

#shelter-container .tab-content,
#admin-container .tab-content {
    padding: 5%;
}

.people-name {
    font-size: 120%;
}

#admin-container .people-block {
    margin: 20px;
    padding: 20px;
    border: 1px double #eae9dc;
    border-radius: 2px;
    background-color: white;
}

#shelter-container .people-block {
    margin: 0px 10px 20px;
    border: 1px double #e4e4e4;
    border-radius: 2px;
    background-color: white;
}

#shelter-container .manage-people-block {
    margin: 0px auto 30px;
    padding: 15px 5px;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
}

.people-image {
    max-height: 200px;
}

#shelter-container div.dropdown,
#admin-container div.dropdown {
    float: right;
    margin-top: -35px;
    margin-right: 60px;
}

#shelter-container div.dropdown a,
#admin-container div.dropdown a {
    color: black;
}

#shelter-container ul.nav-tabs,
#admin-container ul.nav-tabs {
    border-bottom: 0 none;
}

#shelter-container ul.nav-tabs,
#admin-container ul.nav-tabs {
    background-color: #949393;
}

#shelter-container .nav-tabs>li,
#admin-container .nav-tabs>li {
    margin-bottom: 0;
}

#shelter-container .nav-tabs>li>a,
#admin-container .nav-tabs>li>a {
    height: 50px;
    border: 0 none;
    color: black;
    border-radius: 0;
    line-height: 2;
}

#shelter-container .nav-tabs>li.active>a,
#shelter-container .nav-tabs>li.active>a:hover,
#shelter-container .nav-tabs>li.active>a:focus,
#admin-container .nav-tabs>li.active>a,
#admin-container .nav-tabs>li.active>a:hover,
#admin-container .nav-tabs>li.active>a:focus {
    color: #ead314;
    background-color: #555;
    transition: all 200ms ease-in;
    transform: scale(1.1);
    box-shadow: inset 0px 0px 31px 1px rgba(0,0,0,0.75);
}


/*Footer*/

.footer {
    text-align: center;
    padding-top: 1%;
    background-color: black;
    color: whitesmoke;
    padding-right: 30px;
}

.footer p,
.footer img {
    display: inline-block;
}

.footer p {
    margin-top: 10px;
}

#github {
    float: right;
    height: 45px;
    width: 45px;
    margin-bottom: 10px;
    background-color: white;
    border: solid 2px grey;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}

#github:hover,
#github:focus {
    border: solid 2px white;
}


@media screen and (max-width: 500px) {
    .manage-people-block .people-image-section, 
    .manage-people-block .people-info-section {
        width: 100%;
    }
    #shelter-container .nav-tabs>li>a, #admin-container .nav-tabs>li>a {
        height: 35px;
        line-height: 1;
        font-size: 80%;
    }
    #shelter-container .nav-tabs>li, #admin-container .nav-tabs>li {
        width: 100%;
    }
}